<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    {% comment %} <script src="{{url_for('static', filename='script.js')}}"></script> {% endcomment %}

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div>
            {% with messages = get_flashed_messages() %}
            {%  if  messages %}
            {%  for  message  in  messages %} 
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div id="login-form">
            <h2>Login</h2>
            <form action="/choice" method="post" id="login-form">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>

    </main>
</body>

</html>